@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;600;700&display=swap);

/* ----------------- contacts page -----------------*/
.infoCardContainer--contacts-banner{
  min-height: 300px;
  justify-content: center;
}

.infoCardTextContainer--contacts-banner{
  width: 1300px;
}

.infoCardHeadline--contacts-banner{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

.imageElement--contacts-city-image{
  border-bottom: 10px solid #fcc200;
  margin-bottom: 20px;
}
/* ----------------- contacts page -----------------*/