.drawer {
  min-width: 150px !important;
}

.childrenContainer {
  padding-left: 24px;
  justify-content: left;
}

.openIconContainer {
  padding: 0;
  color: #fcc200;
}

@media(min-width: 1024px) {
  .childrenContainer {
    justify-content: space-between;
  }
}