/* Header */

.styledLinkContainer {
  margin: 0;
}

.styledLinkContent {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.menuItem:hover .styledLinkContent {
  color: #fcc200;
}

.menuItem--menuMobile {
  margin: 5px 0 ;
}

@media(min-width: 1024px) {
  .styledLinkContent {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 35px;
  }
}