/* ------ Home ------ */

.container--presentation1 {
    padding: 96px 24px 0;
}

.paragraph--presentation1 {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: #040404;
    margin: 0;
}

.container--presentation2 {
    padding: 50px 24px 0;
    margin-bottom: 50px;
}

.paragraph--presentation2 {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    line-height: 1.25;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #040404;
}

.paragraph--trust {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 700;
    color: #040404;
}

.strong--presentation1,
.strong--trust,
.strong--title {
    color: #fcc200;
}

@media(min-width: 800px) {
    .container--presentation1,.container--presentation2 {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media(min-width: 1024px) {
    .container--presentation1 {
        padding-top: 128px;
    }
    .container--presentation1,.container--presentation2 {
        padding-left: 150px;
        padding-right: 150px;
    }
}


@media(min-width: 1250px) {
    .container--presentation1,.container--presentation2 {
        padding-left: 240px;
        padding-right: 240px;
    }
}

@media(min-width: 1440px) {
    .container--presentation1,.container--presentation2 {
        padding-left: calc((100% - 850px)/2);
        padding-right: calc((100% - 850px)/2);
    }
}

/* ------ Contacts Page ------ */

.paragraph--contacts-city-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    width: 100%;
    height: auto;
}

.paragraph--contacts-city-description {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding-right: 15px;
}

.paragraph--contacts-container2-title {
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 50px;
    color: #040404;
    font-family: 'Open Sans Condensed';
}

.strong--contacts-container2-title {
    color: #fcc200;
}

.paragraph--country-list {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.list--contacts-country-list {
    line-height: 1.5;
}

.listItem--contacts-country-list {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #1d1d1d;
}

/* ------ Testimonials ------ */

.wrapper--trust .paragraph,
.wrapper--testimonial .paragraph {
    color: #666;
    text-align: justify;
    font-weight: 100;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.wrapper--title {
    font-size: 2rem;
    font-weight: 700;
    color: #040404;
    line-height: 1.4;
}

.wrapper--title .strong {
    color: #fcc200;
}

.container--testimonial {
    margin: 0 auto 30px;
}

.paragraph--name {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}

.paragraph--job {
    font-size: 16px;
    line-height: 1.1;
    color: #888;
    margin: 0;
}

/* ------ Footer ------ */

.wrapper--footer-link .link {
    color: #5974c7 !important;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.container--footer-link {
    justify-content: center;
}

.wrapper--col-title .paragraph {
    color: #333 !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;    
}

.wrapper--col-address {
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    color: #333 !important;
}

@media(min-width: 600px) {
    .wrapper--col-title .paragraph, .wrapper--col-address{
        text-align: left;
        margin-bottom: 0;
    }

    .container--col-title {
        justify-content: flex-start;
    }
    
}

/* ----------------- about page -----------------*/
.container--about-container1-title, .container--about-container1-title2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 48px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
}

.container--about-container1-title2{
    font-size: 32px;
}

.wrapper--about-container1-title, .wrapper--about-container1-title2 {
    width: 100%;
}

.strong--about-container1-title, .strong--about-container1-title2, .strong--products--consultor-title{
    color: #fcc200;
}

.container--about-container1-row-col1-text{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    line-height: 24px;
    color: #1d1d1d;  
}

.container--about-container2-row-col-text{
    color: #717786;  
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
}
/* ----------------- about page -----------------*/
/* ----------------- products page -----------------*/

.container--products-subtitle{
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    margin: 50px 0;
}

.container--products--consultor-title{
    font-family: "Open Sans Condensed", sans-serif;
}

.container--products--consultor-sub{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    max-width: 400px;
}
/* ----------------- products page -----------------*/