/* ------ Header ------ */

.logoContainer {
    padding: 0;
}

.logoImage {
    width: 145px;
}

/* ------ Contacts Page ------ */

.infoCardContainer--contacts-banner {
    min-height: 300px;
    justify-content: center;
}

.infoCardTextContainer--contacts-banner {
    width: 1300px;
}

.infoCardHeadline--contacts-banner {
    font-family: 'Open Sans Condensed';
    color: white;
}

.infoCardContainer--contacts-banner {
    min-height: 300px;
    justify-content: center;
}

.container {
    padding: 0;
}

.imageElement--contacts-city-image {
    display: block;
    font-size: 0;
}

/* ------ Testimonials ------ */

.imageElement--imageQuote {
    color: #ccc;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background: none;
    width: auto;
    height: auto;
}

.imageElement--imageWriter {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    margin-right: 25px;
}

/* ------ About Page ------ */

.imageElement--about-container2-row-col-img{
    margin: 0 auto 10px;
    width: 100px;
}

