/* ----------------- contacts page -----------------*/

.flexRow--contacts-container {
    width: 100%;
    align-items: center;
}

.flexRow--contacts-content {
    max-width: 1300px;
    align-items: center;
}

.flexRowContent--contacts-content {
    align-items: center;
    padding: 50px 0;
}

.flexRow--contacts-list-city-cards {
    margin-left: 50px;
}

.flexRowContent--contacts-list-city-cards {
    justify-content: space-between;
}

.flexCol--contacts-city-card {
    align-items: left;
    height: min-content;
}

.flexRow--contacts-container2 {
    background-color: #f1f1f1;
}

.flexRow--contacts-container2 {
    padding: 150px 0;
}

.flexCol--contacts-container2-col {
    align-items: center;
    width: 1300px;
}

.flexRowContent--contacts-container2-row {
    align-items: center;
}


/* ----------------- contacts page -----------------*/


/* ----------------- testmonials -----------------*/

.flexColChild .container {
    vertical-align: middle;
}

.stretchChildrenWidth {
    padding-right: 0;
    margin-right: 0;
}

.flexRow--rowTestimonials {
    background-color: #f1f1f1;
}

.flexCol--nameAndJob {
    max-height: 2rem;
}

.flexRow--writer {
    max-width: 50%;
    margin: auto;
}


/* ----------------- testmonials -----------------*/

/* ----------------- about page -----------------*/
.flexCol--about-container1-col{
    align-items: center;
    width: 100%;
    max-width: 1300px;
}

.flexColChild--about-container1-col{
    width: 100%;
}

.flexCol--about-container3-col{
    align-items: center;
    justify-content: center;
}

.flexRow--about-container1-row{
    width: 100%;
    margin-bottom: 50px;
}

.flexRowContent--about-container1-row{
    justify-content: space-between;
}

.flexCol--about-container2-row-col{
    float: left;
    margin: 20px 0 0 20px;
    transition: all 0.4s ease-in-out 0s;
}

.flexCol--about-container2-row-col:hover{
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}

.flexColChild--about-container2-row-col{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----------------- about page -----------------*/