/* ------ Cases ------ */

.sliderLayoutContainer--rowCases {
    margin-bottom: 60px;
}

@media(min-width: 600px) {
    .sliderLayoutContainer--rowCases {
        padding: 0 48px;
    }
}

@media(min-width: 1024px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 96px;
    }
}
  
@media(min-width: 1250px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 180px;
    }
 }
  
@media(min-width: 1440px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 calc((100% - 1000px)/2);
    }
}
/* ------ Testimonials ------ */

.sliderLayoutContainer--sliderTestimonials {
    max-width: 750px;
    overflow: hidden;
    margin: 0 auto;
}

/* ------ TrustedBy ------ */

.sliderLayoutContainer--trustedBy:last-child {
    margin-bottom: 50px;
}

.paginationDotsContainer--trustedBy {
    bottom: -30px;
}

@media(min-width: 800px){    
    .sliderLayoutContainer--trustedBy {
        padding: 0 48px
    }
}

@media(min-width: 1024px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 96px;
    }
}
  
@media(min-width: 1250px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 120px;
    }
 }
  
@media(min-width: 1440px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 calc((100% - 1020px)/2);
    }
}