/* ------ Cases ------ */

.slide--rowCases {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 13%);
    max-width: 22%;
    padding: 10px;
    margin: 20px 30px 10px;
}

.sliderLayoutContainer--rowCases {
    margin-bottom: 60px;
}

@media(min-width: 600px) {
    .sliderLayoutContainer--rowCases {
        padding: 0 48px;
    }
}

@media(min-width: 1024px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 96px;
    }
}
  
@media(min-width: 1250px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 180px;
    }
 }
  
@media(min-width: 1440px) {
    .sliderLayoutContainer--rowCases {
      padding: 0 calc((100% - 1000px)/2);
    }
}

/* ------ Testimonials ------ */

.sliderLayoutContainer--sliderTestimonials {
    max-width: 750px;
    overflow: hidden;
    margin: 0 auto;
}

/* ------ TrustedBy ------ */

.sliderLayoutContainer--trustedBy :global(.vtex-store-components-3-x-imageElement){
    filter: grayscale(1);
    transition: all ease 200ms;
}

.sliderLayoutContainer--trustedBy :global(.vtex-store-components-3-x-imageElement):hover{
    filter: grayscale(0);
    transform: scale(0.9, 0.9);
}


.sliderLayoutContainer--trustedBy:last-child {
    margin-bottom: 50px;
}

.paginationDotsContainer--trustedBy {
    bottom: -30px;
}

.sliderLayoutContainer--about-trusted-by{
    margin-bottom: 100px;
}

@media(min-width: 800px){    
    .sliderLayoutContainer--trustedBy {
        padding: 0 48px
    }
}

@media(min-width: 1024px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 96px;
    }
}
  
@media(min-width: 1250px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 120px;
    }
 }
  
@media(min-width: 1440px) {
    .sliderLayoutContainer--trustedBy {
      padding: 0 calc((100% - 1020px)/2);
    }
}