/* ------ Contacts Page ------ */

.flexRowContent--contacts-list-city-cards {
    justify-content: space-between;
    padding: 0 24px;
}

.flexCol--contacts-city-card {
    align-items: left;
    height: min-content;
    margin-bottom: 30px;
    overflow: hidden;
}

.flexColChild--contacts-city-card:first-child {
    border-bottom: 10px solid #fcc200;
    margin-bottom: 20px;
    overflow: hidden;
}

.flexCol--contacts-city-card :global(.vtex-store-components-3-x-imageElement) {
    height: 300px;
    width: 100%;
    transition: all ease 200ms;
    object-fit: cover;
}

.flexCol--contacts-city-card:hover :global(.vtex-store-components-3-x-imageElement) {
    transform: scale(1.2);
}

.flexCol--contacts-city-card :global(.vtex-rich-text-0-x-paragraph--contacts-city-title) {
    margin: 0;
}

.flexRow--contacts-container2 {
    background-color: #f1f1f1;
}

.flexRow--contacts-container2 {
    padding: 0 24px;
}

.flexCol--contacts-container2-col {
    align-items: center;
    width: 1300px;
    padding: 70px 0;
}

.flexRowContent--contacts-container2-row {
    align-items: center;
}

.flexCol--contacts-container2-col :global(.vtex-store-components-3-x-imageElement) {
    object-fit: contain;
}



@media(min-width: 800px) {
    .flexRowContent--contacts-list-city-cards, .flexRow--contacts-container2 {
      padding: 0 48px;
    }
}

/* ----------------- cases -----------------*/

.flexRow--rowCases {
    background-color: #f1f1f1;
}

.flexCol--colCases {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    max-width: 22%;
    padding: 5%;
}

.flexColChild--colCases {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    max-width: 22%;
    padding: 5%;
}


/* ----------------- cases -----------------*/


/* ----------------- testmonials -----------------*/
@media(min-width: 1024px) {
    .flexRowContent--contacts-list-city-cards, .flexRow--contacts-container2 {
    padding: 0 150px;
    }
}

@media(min-width: 1250px) {
    .flexRowContent--contacts-list-city-cards, .flexRow--contacts-container2 {
    padding: 0 240px;
    }
}

@media(min-width: 1440px) {
    .flexRowContent--contacts-list-city-cards, .flexRow--contacts-container2 {
    padding: 0 calc((100% - 850px)/2);;
    }
}

/* ------ Testimonials ------ */

.flexColChild .container {
    vertical-align: middle;
}

.flexColChild--nameAndJob {
    height: auto !important;
}

.flexColChild--nameAndJob .stretchChildrenWidth {
    padding-right: 0;
    margin-right: 0;
    margin-right: 25px;
}

.flexRow--rowTestimonials {
    margin-top: 50px;
    padding: 60px 24px;
    background-color: #f1f1f1;
}

.flexRowContent--writer {
    margin-bottom: 40px;
    justify-content: center;
    display: flex !important;
}

.flexRow--writer {
    margin: auto;
}

/* ------ Footer ------ */

.flexCol--col-logo, .flexCol--col-brazil, .flexCol--col-spain, .flexCol--col-eua {
    text-align: center;
    margin-bottom: 30px;
}

.flexCol--col-logo :global(.vtex-store-components-3-x-imageElement) {
    margin-bottom: 20px;
}

.flewRowContent--footer-row, .container {
    display: block !important;
    align-items: flex-start;
    -webkit-box-align: flex-start;
}

@media(min-width: 600px) {
    .flexCol--col-brazil, .flexCol--col-spain, .flexCol--col-eua {
        margin-left: 20px;
    }
}

@media(min-width: 1024px) {
    .flexCol--col-brazil, .flexCol--col-spain, .flexCol--col-eua {
        margin-left: 40px;
    }
}