.sliderLayoutContainer--sliderTestimonials {
    max-width: 750px;
    overflow: hidden;
    margin: 0 auto;
}

.sliderLayoutContainer--oneClick {
    max-width: 960px;
}

.sliderArrows--trustedBy {
    top: 0;
}