.dFlex {
    display: flex;
}

.flexComumn {
    flex-direction: column;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: Row;
}

.justifyCenter {
    justify-content: center;
}

.justifyStart {
    justify-content: flex-start;
}

.alignCenter {
    align-items: center;
}

.selfFlexStart {
    align-self: flex-start;
}

.colorGray {
    color: gray;
}

.colorDarkGray {
    color: darkgray;
}
.colorRed {
    color: red;
}
.colorGreen {
    color: green;
}

.colorPastelGreen {
    color: #8bc34a;
}

.colorYellow {
    color: #fcc200;
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb60 {
    margin-bottom: 60px;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}

.mr10 {
    margin-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pb5 {
    padding-bottom: 15px;
}

.gap20 {
    gap: 20px;
}

.bgYellow {
    background-color: #fcc200;
}

.bgWhite {
    background-color: white;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.height60 {
    height: 60px;
}
.height100 {
    height: 100px;
}


.smallText {
    font-size: 0.7rem;
}

.mediumText {
    font-size: 1.1rem;
}

.bigText {
    font-size: 2rem;
}

.textUpper {
    text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
.openSansCondensed {
  font-family: "Open Sans Condensed", sans-serif;
}

.m0 {
    margin: 0;
}

.width100 {
    width: 100%;
}
