.heroHome {
    height: 100vh;
    width: 100%;
    max-height: 500px;
    position: relative;
}

.heroTitle {
    height: 90px;
    margin: 0 0 20px;
    color: #333;
    font-size: 38px;
    font-family: "Open Sans Condensed", sans-serif;
}

.heroSubTitle {
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
    font-family: "Open Sans Condensed", sans-serif;
}

.heroContent {
    z-index: 1;
    top: 120px;
    left: 24px;
    width: calc(100% - 24px);
    padding-right: 24px;
    position: absolute;
}

.heroWrapper {
    max-width: 600px;
}

.heroContent .nameInput,.heroContent .emailInput {
    border: none;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
    background: transparent;
    padding: 6px 5px;
    border-bottom: 2px solid #5974c7;
}

.heroContent .nameInput:focus,.heroContent .emailInput:focus {
    outline: none;
}

.heroContent .submitInput {
    font-size: 16px;
    font-weight: 500;
    font-family: "Open Sans Condensed", sans-serif;
    
    padding: 5px 19px;
    background: transparent;
    border: 2px solid #5974c7;
    margin-top: 10px;
    color: #5974c7;
    text-transform: uppercase;
    width: auto;
    transition: all ease 200ms;
    cursor: pointer;
}
    
.heroContent .submitInput:hover{
    background-color: #5974c7;
    color: #fff;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #fff
}
.heroHome svg{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.heroHome .lines {
    opacity: 0.05; 
}  
.heroHome .line {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fcc200; 
}
.heroHome .lights {
    opacity: 0.9;
    fill: #fcc200;
}
  
@media(min-width: 800px) {
    .heroTitle {
        font-size: 42px;
        width: 600px;
    }
    .heroContent {
        width: auto;
        left: 48px;
    }
    .heroForm {
        align-items: flex-end;
        display: flex;
    }
    .heroContent .nameInput, .heroContent .emailInput {
        margin-right: 30px;
        margin-bottom: 0;
    }
    .heroHome {
        max-height: 430px;
    }
}
  
@media(min-width: 1024px) {
    .heroContent {
        left: 150px;
    }
}
  
  
@media(min-width: 1250px) {
    .heroContent {
        left: 240px;
    }
    .heroTitle {
        font-size: 52px;
        width: 800px;
    }
    .heroSubTitle {
        font-size: 22px;
    }

}
  
@media(min-width: 1440px) {
    .heroContent {
        left: calc((100% - 850px)/2);
    }
}