.productCardsContainer {
    margin-top: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    gap: 20px;
}

.productCard {
    width: 300px;
    padding: 24px;
    flex-direction: column;
    box-shadow: rgb(66 66 66 / 15%) 0px 8px 16px;
    border-bottom: 4px solid #fcc200;
}

.productCard h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.productCardBuyButton {
    width: 100%;
    height: 30px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.productCardBuyButton:hover {
    filter: brightness(.9);
}
.productCardBuyButton:active {
    filter: brightness(.7);
}

.caracContainer {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
}

.imgIcon {
    width: auto;
    height: 100px;
    transform: translateZ(0);
    filter: invert(74%) sepia(96%) saturate(2102%) hue-rotate(3deg) brightness(105%) contrast(104%);
}